* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --neutral-clr: hsl(0, 0%, 100%);
  --clr-100: hsl(212, 45%, 89%);
  --clr-accent: hsl(220, 15%, 55%);
  --clr-200: hsl(218, 44%, 22%);

  --fs: 15px;
}

body {
  background: var(--clr-100);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
}

main {
  min-height: 100vh;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h2 {
  margin: 1em 0;
  padding: 0 1em;
}

p {
  margin-bottom: 1em;
  padding: 0 1.25em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 325px;
  border-radius: 10px;
  background: var(--neutral-clr);

  padding: 1em;
}
